
.control{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:20px;
    margin-bottom: 10px;

}

.control label{
    font-weight: bold;
    color: #212529;
    margin-left: 10px
}
.control input
{
    width: 70%;
    padding: 5px;
    border-radius: 10px;
    border:1px solid gray;
    color: #495057;
    font-size:15px;
}

.button{
    background-color: #4caf50;
    border:none;
    color: #fff;
    padding:10px;
    text-align: center;
    text-decoration: none;
    font-size:14px;
    border-radius:5px;
}